<header>
  <app-header></app-header>
</header>
<main>
  <!-- <div class="card-container">
    @for(user of users; track user.id){
    <app-card (userDelete)="onUserDelete($event)" [user]="user"></app-card>
    }
  </div> -->
  <div class="container">
    <div class="text-right">
        <mat-icon class="add-bookmark" matTooltip="Add Bookmark">bookmark_add</mat-icon>
    </div>
    <div>
      <h3>Today</h3>
    </div>
    <div class="content">
      <mat-icon>bookmark</mat-icon>
      <div class="bookmark-data">
        <b>Angular</b>
        <a href="#">https://angular.io</a>
      </div>
      <mat-icon class="edit-icon">edit</mat-icon>
    </div>

    <div>
      <h3>Yesterday</h3>
    </div>
    <div class="content">
      <mat-icon>bookmark</mat-icon>
      <div class="bookmark-data">
        <b>Angular</b>
        <a href="#">https://angular.io</a>
      </div>
      <mat-icon class="edit-icon">edit</mat-icon>
    </div>
  </div>
</main>
